# From: https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cpp text eol=lf
*.hpp text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.py text eol=lf
